{% extends 'pages/base.html' %}
 {% load static %}
{% block main %}
  <body>
    <link href="{% static 'css/album.css' %}" rel="stylesheet">
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
          </div>
        </div>
      </div>
        </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Ваш альбом</h1>
          <p class="lead text-muted">Ваши работы и их статистика</p>
          <p>
            <a href="{% url 'main:profile' %}" class="btn btn-primary my-2">В профиль</a>
            <a href="{% url 'main:add_post' %}" class="btn btn-secondary my-2">Добавить работу</a>
          </p>
        </div>
      </section>

 <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
              {% for photo in images %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img style="height: 100%; width: auto" class="card-img-top" src="{{ photo.cover.url}}" alt="">
                <div class="card-body">
                  <p class="card-text">{{ photo.title }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">

                    </div>
                    <small class="text-muted">{{ photo.rate}} голосов</small>
                  </div>
                </div>
              </div>
            </div>
              {% endfor %}

          </div>
        </div>
      </div>
    </main>


  </body>
{% endblock %}
